body {
  background-color: #191919;
  margin: 0px;
}

button mat-icon {
  color: white;
}

.button-container {
  padding-top: 8px;
}

.timer-container {
  height: 100vh;
  width: 100vw;
}

.text-align-center {
  text-align: center;
}
